
.border{
    border: 2px solid red !important;
}


.tagCss{
    display: flex !important;
    gap: .4rem;
    align-items: center !important;
    text-align: center;
}

body{
  background-color: rgba(245, 245, 245, 0.741) !important;
}

.allTags{
    margin-left: 1rem;

}

.btn-tags{
    background-color: gray;
}

.btn-tags:hover{
    background-color: gray !important;
}

.tagCss .btn-tags button{

    height: 30px;
    font-size: 12px;
    text-align: center;
    background-color: rgb(157, 155, 155);
    color: white;
    justify-content: center;
    align-items: center;

}


.tagCss .btn-tags button:hover{

text-decoration: underline;
}


#btn-plus{
    position: fixed;
    right: 3%;
    bottom: 5%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(63, 63, 233);
    color: white;
    cursor: pointer;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: rgb(224, 224, 247) !important;
    box-shadow:  3px 3px 3px rgb(211, 210, 210) !important;
}

#postsDev{
    margin-top: 10% !important;
}

.show{
    position: fixed;
    top: 15%;
    right: 1%;
}
#showAlert{
  position: fixed;
    top: 30%;
    left: 0 !important;
    width: 40%;

  }

.card-header{
    background-color:rgb(224, 224, 247) !important;
    

}



.img-nav{
    width: 35px;
    height: 33px;
    border-radius: 50%;
    border: 2px solid white !important;
}




.addCommentStyle{
    flex-grow: 2;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 128, 0, 0.365);
}


.icon-delete-post{
    float: right ;
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
}


.icon-delete-post:hover{
color: red;
}


.icon-edit-post{
    float: right ;
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
}

.icon-edit-post:hover{
 color: green;
}


/*LOADER CSS*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #785c5c transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  /* // LOADER CSS// */


  .nav-link:hover{
    font-weight: bold;
  }

  .card,.namePost{
    width: 70%;
  }

  @media(max-width:1000px){
    #test{
      margin-top: 2rem !important;
     }
     .card,.namePost{
      width: 100%;
    }
  }
  
  @media(max-width:950px){
 
     .card,.namePost{
      width: 90%;
    }
  
  }


   
 
  @media(max-width:850px){
 
    .card ,.namePost{
     width: 85%;
   }
 
   #img-header-profile{
width: 100px !important;
height: 100 !important;
   }
   #name-header-profile , #userName-header-profile , #email-header-profile{
    font-size: 13px;
   }
   #postCount-header-profile , #commentCount-header-profile{
    font-size: 34px !important;
   }
   .postCommentStyle{
    font-size: 10px !important;
   }
 }





 @media(max-width:770px){
 
  .card,.namePost{
   width: 100% !important;
 }
}

@media(max-width:630px){
 
  .card,.namePost{
   width: 90% !important;
 }
}

@media(max-width:550px){
 
  .card,.namePost{
   width: 100% !important;
 }
}
  
  @media(max-width:700px){
    #loginAndRegDev{
      justify-content: left !important;
      padding-left: 2rem;

    }
    #login-btn,#reg-btn {
      height: 30px !important;
      text-align: center !important;
      align-items: center !important;
      font-size: 11px;
      font-weight: bold !important;

    }
   
 
    #logOut-btn{
      height: 30px !important;
      text-align: center !important;
      align-items: center !important;
      font-size: 11px;
      font-weight: bold !important;
    }

 
  }


  @media(max-width:600px){
    #logOutDev{
      justify-content: space-between !important;
      padding-left: 2rem;
    }
 

    #logOut-btn{
      margin-right: 1rem !important;

    }

  }



  @media(max-width:380px){
    #logOutDev{
      justify-content: space-between !important;
      padding-left: 2rem;
    }
   

    #logOut-btn{
      margin-right: 1rem !important;

    }
    .nav-img-name{
      margin-left: .2rem !important;
    }
    .SocialNav{
      margin-right: 2rem;
    }

  }


  
  @media(max-width:350px){
    #logOutDev{
      justify-content: space-between !important;
      padding-left: 2rem;
    }


    #logOut-btn{
      margin-right: 1rem !important;

    }
    .nav-img-name{
      margin-left: 0rem !important;
    }
    .SocialNav{
      margin-right: 2rem;
    }

  }


  @media(max-width:471px){
    .addCommentStyle{

        
      width: 60% !important;
      font-size: 10px;
      
  }
  .AddCommentBtn{
    width: 40% !important;
    font-size: 10px !important;
  }
  #img-header-profile{
    width: 70px !important;
    height: 70px !important;

  }
  #name-header-profile , #userName-header-profile , #email-header-profile{
    font-size: 8px;
   }
   #postCount-header-profile , #commentCount-header-profile{
    font-size: 20px !important;
   }
   .postCommentStyle{
    font-size: 8px !important;
   }
  }

